/* =========================
   DİL SEÇİMİ
========================= */

.language-box {
    display: flex;

    justify-content: flex-end;

    gap: 6px;

    margin-bottom: 15px;
}

.language-btn {
    width: auto;

    margin: 0;

    padding: 7px 10px;

    border: 1px solid #444;

    border-radius: 7px;

    background: #111;

    color: #aaa;

    font-size: 12px;

    font-weight: bold;

    cursor: pointer;
}

.language-btn:hover {
    background: #e1306c;

    color: white;

    border-color: #e1306c;
}

@media (max-width: 600px) {

    .language-box {
        margin-bottom: 12px;
    }

    .language-btn {
        padding: 6px 9px;

        font-size: 11px;
    }

}
